/*
Theme Name: Miller Law
Theme URI: http://www.millerlawpc.com/
Description: This is a child theme of Twenty Sixteen
Author: Element5
Author URI: https://element5digital.com/
Template: twentysixteen
Version: 0.1
*/


@charset "utf-8";
/* CSS Document */
/*--------------------------------------------------------------------------FONTS--*/
@import url(https://fonts.googleapis.com/css?family=Karla:400,400italic,700,700italic); 
/*---------------------------------------------------------------------ANIMATIONS--*/
@keyframes floating {
	0% { transform: translateY(0%);	}
	50% { transform: translateY(30%); }	
	100% { transform: translateY(0%); }			
}
@-webkit-keyframes floating {
	0% { -webkit-transform: translateY(0%); }
	50% { -webkit-transform: translateY(30%); }	
	100% { -webkit-transform: translateY(0%); }			
}
/*-------------------------------------------------------------------------BASICS--*/
html, body { margin: 0; padding: 0; }
* { 
	box-sizing: border-box;
	-webkit-transition: all .25s ease-in-out 0s;
    transition: all .25s ease-in-out 0s; 
}
h1, h2, h3 { 
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	line-height: 1.38;
	color: #fff;
}
h1 { font-size: 38px; font-weight: normal; }
h2 { font-size: 25px; }
h3 { font-size: 20px; }
p, a, ol, ul, input {
	margin: 0;
	padding: 0;
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	line-height: 1.38;
	color: #141823; 
}
a, a:active, a:visited { 
	font-family: 'Karla', sans-serif;
	color: #027be5; 
	box-shadow: none; 
}
a:hover { text-decoration: underline; color: #027be5; }
a.transparent-button {
	padding: 10px 20px;
    border-radius: 40px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
a.transparent-button:hover {
	color: #027be5;
	background: #fff;
	text-decoration: none;
}
a.solid-button, a.solid-button:hover {
	padding: 10px 20px;
    border-radius: 40px;
    background: #027be5;
    color: #fff;
    border: 1px solid #027be5;
}
a.pdf-button {
	padding: 10px 60px 10px 20px;
    margin: 20px 0;
    display: inline-block;
    border-radius: 40px;
    background-color: #e22919;
    color: #fff;
    border: 1px solid #e22919;
    background-image: url("/wp-content/themes/millerlaw/img/pdf-icon.png");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: right 20px center;
}
a.pdf-button:hover {
	color: #fff;
	background-color: #9e1d11;
	text-decoration: none;
}
::-webkit-input-placeholder { 
	color: #fff;
}
:-moz-placeholder { 
	color: #fff;
	opacity: 1;
}
::-moz-placeholder { 
	color: #fff;;
	opacity: 1;
}
:-ms-input-placeholder { 
	color: #fff;
}

.white-font { color: #fff; }
.blue-font { color: #027be5; }
.dark-blue-font { color: #035095; }
.full-width { width: 100%; }
.max-width { 
	max-width: 1050px; 
	margin: 0 auto; 
}
.one-half {
	width: 50%;
	float: left;
}
.one-third { 
	width: 33.33%;
	float: left; 
}
/*-------------------------------------------------------------------------HEADER--*/
body { 
	border-top: 20px solid #fff;
	background: transparent;
}
body:not(.custom-background-image):before { display: none; }
header {
	z-index: 100;
	position: relative;
}
header #nav-logo { 
	width: 200px; 
	float: left; 
}
#top-menu { 
	float: right; 
	margin: -20px 10px 0 0; 
}
#top-menu .widget { 
	padding: 10px 20px;
	margin: 0px 0px 0px -1px;
	border: none; 
	float: left; 
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg); 
}
#top-menu .widget .rsiw-image, #top-menu .widget .textwidget, #top-menu .widget form {
    -webkit-transform: skewX(20deg); 
    transform: skewX(20deg);
}
#top-menu .widget h3 { display: none; }
#top-menu .widget a, #top-menu .widget a:focus, #top-menu .widget a:visited { 
	text-decoration: none;
	color: #fff;
	box-shadow: 0 0 0 0 currentColor; 
}
#top-menu .widget.textwidget a:hover { box-shadow: 0 1px 0 0 currentColor; color: #fff; }
#top-menu .widget#really-simple-image-widget-6 {
    padding: 10px 8px 10px 20px;
    background: #1982dd;
}
#top-menu .widget#text-4 {
    padding: 10px 20px 10px 0px;
    background: #1982dd;
}
#top-menu .widget#search-3 {
	background: #0d6cc0;
	padding: 7.5px 20px
}
#top-menu .widget.widget_search input.search-field {
    padding: 3px 5px;
    background: #0d6cc0;
    color: #fff;
    border: none;
    border-radius: 0;
    line-height: 0;
}
#top-menu .widget.widget_search input.search-field::-webkit-input-placeholder {
    color: #fff;
    font-weight: normal;
}
#top-menu .widget.widget_search input.search-field:-moz-placeholder { 
    color: #fff;
    font-weight: normal;
}
#top-menu .widget.widget_search input.search-field::-moz-placeholder { 
    color: #fff;
    font-weight: normal;
}
#top-menu .widget.widget_search input.search-field:-ms-input-placeholder { 
    color: #fff;
    font-weight: normal;
}
#top-menu .widget.widget_search .search-submit:before { display: none; }
#top-menu .widget.widget_search button.search-submit {
	padding: 5px;
	background: #0d6cc0;
    background-image: url("/wp-content/themes/millerlaw/img/search.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 0;
    height: auto;
}
#top-menu .widget#really-simple-image-widget-5 {
	background: #035095;
}
#top-menu .widget#really-simple-image-widget-2 {
	background: #024480;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 25px 0 0 0;
    float: right;
}
nav li {
    float: left;
    border-right: 1px solid #fff;
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);
    -webkit-transition: all .5s ease-in-out 0s;
    transition: all .5s ease-in-out 0
}
#menu-filler {  
	height: 0;
    width: 100%;
    background: #027be5;
    position: absolute;
    top: 0;
    left: 0;
}
nav li:hover #menu-filler {  
    height: 29px;
}
nav li:last-child { border-right: 0; }
nav a, nav a:focus, nav a:visited {
    display: block;
    padding: 5px 15px;
    color: #fff;
    background-color: transparent;
    -webkit-transform: skewX(20deg); 
    transform: skewX(20deg); 
    -webkit-transition: none;
    transition: none;
    z-index: 10;
    position: relative;
}
nav a:hover {     
	background-color: transparent;
	color: #fff;
    text-decoration: none;
}
#page { margin: -78px 0 0 0; }
#main { margin: 0; }
#content { padding: 0; }
/*---------------------------STICKY NAV--*/
#sticky-nav { 
	background: #fff;
	height: 75px;
	position: fixed;
    top: 0;
    display: block; 
    opacity: 0;
    z-index: -1;
    -webkit-transition:  opacity 1s ease-in-out 0s;
    transition:  opacity 1s ease-in-out 0s;
}
#sticky-nav #top-menu {
	background: #024480;
    width: 50%;
    margin: 0;
    height: 25px;
}
#sticky-nav #top-menu .widget { height: 100%; padding: 2px 10px; }
#sticky-nav #top-menu .widget:first-child { margin-left: -10px; }
#sticky-nav #top-menu .widget form { height: 100%; }
#sticky-nav #top-menu .widget form input { padding: 0 5px; }
#sticky-nav #top-menu .widget .rsiw-image { line-height: 18px; }
#sticky-nav #top-menu .widget img { height: 15px; width: auto; }
#sticky-nav .full-width { height: 50px; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; }
#sticky-nav #nav-logo { height: 35px; width: auto; margin-top: 7px; }
#sticky-nav nav ul { padding: 0; height: 49px; }
#sticky-nav nav li { border-color: #e0e0e0; height: 100%; }
#sticky-nav nav li:hover { background: #e0e0e0; }
#sticky-nav nav li a { color: #024480; padding: 15px; }
/*---------------------------MOBILE NAV--*/
.mn-menu-wrap {  
	height: 100%;
    background: #026cca;
    margin-top: 60px;
}
#menu-mobile-nav { height: 100%; }
#menu-mobile-nav li {
    width: 50%;
    float: left;
    list-style: none;
    text-align: center;
}
#menu-mobile-nav #menu-item-177 {
	clear: both;
    float: none;
    width: 100%;
    height: 0;
    visibility: hidden;
}
#menu-mobile-nav #menu-item-176 a, #menu-mobile-nav #menu-item-175 a {
	border-radius: 50px;
    border: 1px solid #fff;
    max-width: 175px;
    margin: 15px auto;
    padding: 5px 0px 5px 15px;
    text-transform: uppercase;
    background: url("/wp-content/themes/millerlaw/img/map-point.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 15px 3px;
}
#menu-mobile-nav #menu-item-175 a { 
	background-image: url("/wp-content/themes/millerlaw/img/phone.svg"); 
	background-position: 15px 5px;
}
#menu-mobile-nav #menu-item-167 a, #menu-mobile-nav #menu-item-168 a,
#menu-mobile-nav #menu-item-169 a, #menu-mobile-nav #menu-item-170 a,
#menu-mobile-nav #menu-item-171 a, #menu-mobile-nav #menu-item-172 a,
#menu-mobile-nav #menu-item-173 a, #menu-mobile-nav #menu-item-174 a {
	height: 75px;
    width: 140px;
    padding-top: 50px;
    margin: 5px auto;
    background: rgba(255,255,255, .1);
    background-image: url("/wp-content/themes/millerlaw/img/home-icon.svg");
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center 12px;
}
#menu-mobile-nav #menu-item-168 a { background-image: url("/wp-content/themes/millerlaw/img/about-icon.svg"); }
#menu-mobile-nav #menu-item-169 a { background-image: url("/wp-content/themes/millerlaw/img/attorneys-icon.svg"); }
#menu-mobile-nav #menu-item-170 a { background-image: url("/wp-content/themes/millerlaw/img/blog-icon.svg"); }
#menu-mobile-nav #menu-item-171 a { background-image: url("/wp-content/themes/millerlaw/img/contact-icon.svg"); } 
#menu-mobile-nav #menu-item-172 a { background-image: url("/wp-content/themes/millerlaw/img/news-icon.svg"); }
#menu-mobile-nav #menu-item-173 a { background-image: url("/wp-content/themes/millerlaw/img/practice-icon.svg"); } 
#menu-mobile-nav #menu-item-174 a { background-image: url("/wp-content/themes/millerlaw/img/publications-icon.svg"); }

/*-----------------------------------------------------------------------HOMEPAGE--*/

#video-intro { 
	height: -webkit-calc(100vh - 20px);
	height: calc(100vh - 20px);
	
	background-size: cover;
	background-position: center center;
}
/*---Video Test--*/
#video-intro .videowrap {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden !important;
    background: transparent url(/wp-content/themes/millerlaw/img/video-screenshot.jpg) no-repeat center top;
    background-size: cover;
}
#video-intro .videowrap .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
}
#video-intro .videowrap video.bgvid {
    position: relative;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    margin-bottom: 0;
    max-width: none;
    vertical-align: baseline;
}
#intro-header{
	padding-top: 175px;
}
#intro-header h1 { 
	width: 550px;
	color: #fff; 
	font-size: 28px;
	font-weight: 400;
	float: left;
	position: relative;
	clear: none;
}
#intro-header h1 span { padding-left: 15px; }
#intro-header #intro-fade {
	width: 250px;
	height: 75px;
	margin: 0 10px 0 -175px;
    -webkit-transform: skewX(-20deg); 
    transform: skewX(-20deg);
    opacity: .25; 
	background: red; 
	background: -webkit-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); 
	background: -o-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0)); 
	background: -moz-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0)); 
	background: linear-gradient(to left, rgba(2255,255,255,1), rgba(255,255,255,0));
	float: left;
}
#intro-info {
	height: auto;
	padding: 30px 0 0 0;
	position: absolute;
	bottom: 0px;
	background: rgba(3,80,149,.84);
}
#intro-info .max-width h1 { 
	font-size: 60px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff; 
}
#intro-info .max-width p {
	max-width: 600px;
	font-family: 'Karla', sans-serif;
	color: #fff;
	margin: 20px 0 50px 0;
}
#intro-info .max-width p:last-child { 
	text-align: center; 
	margin: 20px;
	max-width: 100%;
}
#intro-info .max-width img {  
	margin-top: 15px;
	width: 20px;
	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#home-row-one {
	background: url("/wp-content/themes/millerlaw/img/row-one-bg.png");
	background-size: 75% auto;
    background-position: right center;
	background-repeat: no-repeat;
}
#home-row-one .one-half { 
	padding: 30px 0; 
	position:relative;
	background: #fff;
}
#home-row-one .one-half:before {
	content:"";
    position: absolute;
    background: #fff;
    top:0;
    right:-70px;
    bottom: 0;
    width: 100%;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
}
#home-row-one #attorney-search {
	margin-right: 50px;
	max-width: 430px;
	float: right;
	position: relative;
	z-index: 10;
}
#home-row-one .widget { margin-bottom: 0; }
#home-row-one .widget#text-7 { max-width: 310px; }
#home-row-one .widget#eps_super_search-2 { padding: 0; }
#home-row-one .widget#eps_super_search-2 h3 { display: none; }
#home-row-one .widget#eps_super_search-2 form .input-group { position: relative; }
#home-row-one .widget#eps_super_search-2 form .input-group .input-group-btn {  
	position: absolute;
    right: 0;
    top: 0;
}
#home-row-one .widget#eps_super_search-2 form input {  
 	border: 1px solid #027be5;
    background: #fff;
    color: #027be5;
    border-radius: 50px;
    padding: 3px 15px;
    font-size: 14px;
    line-height: 1.5;
} 
#home-row-one .widget#eps_super_search-2 form input::-webkit-input-placeholder {
	color: #027be5 !important;
}
#home-row-one .widget#eps_super_search-2 form input:-moz-placeholder {
	color: #027be5 !important;; 
}
#home-row-one .widget#eps_super_search-2 form input::-moz-placeholder {
	color: #027be5 !important;
}
#home-row-one .widget#eps_super_search-2 form input:-ms-input-placeholder { 
	color: #027be5 !important;
}
#home-row-one .widget#eps_super_search-2 form input[type="submit"] {
	background: #027be5;
	color: #fff;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}
#home-row-one .widget#text-8 { 
	color: #027be5;
	font-size: 10px;
}
#home-row-one .widget h3 {  
	color: #027be5;
	font-size: 16px;
	margin-bottom: 0;
	text-transform: uppercase;
}
#home-row-two {
	background: url("/wp-content/themes/millerlaw/img/row-two-bg.png");
	background-size: 51% auto;
    background-position: left center;
	background-repeat: no-repeat;
}
#home-row-two .one-half { 
	padding: 30px 0; 
	position: relative;
	background: #027be5;
	float: right;
}
#home-row-two .one-half:before {
	content:"";
    position: absolute;
    background: #027be5;
    top:0;
    left: -75px;
    bottom: 0;
    width: 90%;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
#home-row-two #recent-settlements {
	margin-left: 50px;
	max-width: 430px;
	float: left;
	position: relative;
	z-index: 10;
}
#home-row-two #recent-settlements .tw-recent-posts .featured-post {
	margin: 0 0 10px 0;
    padding: 0 0 0 25px;
    background: url("/wp-content/themes/millerlaw/img/star.svg");
    background-repeat: no-repeat;
    background-position: left 10px;
    background-size: 18px;
}
#home-row-two #recent-settlements .tw-recent-posts .featured-post h4 {
	font-size: 25px;
    font-weight: normal;
    letter-spacing: initial;
    margin: 0;
}
#home-row-two #recent-settlements .widget { padding-top: 10px; margin: 0; }
#home-row-two #recent-settlements .widget .widgettitle { display: none; }
#home-row-two #recent-settlements .widget a { 
	color: #fff; 
	box-shadow: none; 
}
#home-row-two #recent-settlements .widget .excerpt { line-height: 1.3; color: #fff; }
#home-row-two #recent-settlements .widget .excerpt a {
	border: 1px solid #fff;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 10px 0 0 0;
    text-transform: uppercase;
    display: table;
}
#home-row-two #recent-settlements .widget .excerpt a:hover {
	text-decoration: none;
	background: #fff;
	color: #027be5;
}
#home-row-three {
	background: url("/wp-content/themes/millerlaw/img/row-three-bg.png");
	background-size: 75% auto;
    background-position: right center;
	background-repeat: no-repeat;
}
#home-row-three .one-half { 
	width: 50%;
	padding: 30px 0; 
	position: relative;
	background: #fff;
}
#home-row-three .one-half:before {
	content:"";
    position: absolute;
    background: #fff;
    top:0;
    right: -85px;
    bottom: 0;
    width: 100%;
    -webkit-transform: skew(20deg);
    transform: skew(20deg);
}
#home-row-three #recent-blog {
	margin-right: 50px;
    max-width: 430px;
	float: right;
	position: relative;
	z-index: 10;
}
#home-row-three #recent-blog .tw-recent-posts .featured-post {
	margin: 0 0 25px 0;
}
#home-row-three #recent-blog .tw-recent-posts .featured-post h4 {
	font-size: 14px;
	padding-left: 125px;
    letter-spacing: initial;
}
#home-row-three #recent-blog .tw-recent-posts .featured-post img { margin-top: -22px; width: 100px; }
#home-row-three #recent-blog .widget { padding-top: 10px; margin: 0; }
#home-row-three #recent-blog .widget .widgettitle { display: none; }
#home-row-three #recent-blog .widget a { 
	color: #027be5; 
	box-shadow: none; 
}
#home-row-three #recent-blog .widget .excerpt { padding-left: 125px; line-height: 1.3; }
#home-row-three #recent-blog .widget .excerpt a {
	border: 1px solid #027be5;
	text-transform: uppercase;
    padding: 5px 20px;
    border-radius: 15px;
    margin: 10px 0 0 0;
    display: table;
}
#home-row-three #recent-blog .widget .excerpt a:hover {
	text-decoration: none;
	background: #027be5;
	color: #fff;
}
#home-row-four {
	background: -webkit-linear-gradient(right,#027be5,#035095); 
	background: -o-linear-gradient(left,#027be5,#035095); 
	background: -moz-linear-gradient(left,#027be5,#035095); 
	background: linear-gradient(to left, #027be5, #035095);
}
#home-row-four .max-width, #about-row-two .max-width {
	text-align: center;
	padding: 30px 10px;
	max-width: 600px;
}
#home-row-four .max-width .widget h2,
#about-row-two .max-width .widget h2 { display: none; }
#home-row-four .max-width .widget img,
#about-row-two .max-width .widget img { display: none; }
#home-row-four .max-width .widget .carousel-inner,
#about-row-two .max-width .widget .carousel-inner {
    width: 100%;
    height: 275px;
    background: #fff;
    border-radius: 15px;
}
#home-row-four .max-width .widget .carousel-caption,
#about-row-two .max-width .widget .carousel-caption {
    background: transparent;
    display: block;
    height: 250px;
    opacity: 1;
    top: 30px;
    width: 100%;
}
#home-row-four .max-width .widget .carousel-caption a,
#about-row-two .max-width .widget .carousel-caption a {  
    color: #027be5;
    font-family: 'Karla', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
}
#home-row-five { background: #fff; }
#home-row-five .max-width { text-align: center; padding: 30px 0; }
#home-row-five .max-width h1 { margin-bottom: 20px; }
#home-row-five .max-width .widget {
	float: left;
    padding: 0 15px;
    margin: 0;
    width: 16.66%;
    height: 100px;
}
#home-row-five .max-width .widget .image-wrapper, #home-row-five .max-width .widget .rsiw-image {
	width: 100%;
	height: 100%;
	line-height: 100px;
}
#home-row-five .max-width .widget h3 { display: none; }
#home-row-five .max-width .widget img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
/*--------------------------------------------------------------------------PAGES--*/
/*---------------------------------------UNIVERSAL--*/
.widget { border: none; font-size: 14px !important; font-family: 'Karla', sans-serif;  }
.page-background { 
	min-height: 575px;
	position: relative;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    background-color: #023766;
}
#contact, #single-attorney, #default { min-height: 0; }
#blue-header { 
	background: rgba(3,80,149,.9);
	position: relative; 
	padding-top: 80px;
}
#blue-header h1 {
	text-align: center;
    padding: 60px 0;
}
#page-breadcrumbs {
	width: auto !important;
	position: absolute;
	bottom: 0;
	padding: 0px 8px;
	margin-bottom: -40px;
	background: #035095;
}
#page-breadcrumbs:before {
	content:"";
    position: absolute;
    background: #027be5;
    top:0;
    right: -10px;
    bottom: 0;
    width: 20px;
    -webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
#page-breadcrumbs #breadcrumbs { 
	text-align: right; 
	width: auto;
    margin-left: 200px; 
}
#page-breadcrumbs span span a {
	padding: 11px 20px;
	background: #005eb1;
	color: #fff;
	display: inline-block;
	-webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
#page-breadcrumbs span span span a {
	padding: 11px 20px;
	margin-left: -3px;
	background: #026cca;
	color: #fff;
	display: inline-block;
	-webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
#page-breadcrumbs span.breadcrumb_last {
	padding: 11px 5px 11px 20px;
	margin-left: -3px;
	background: #027be5;
	font-family: 'Karla', sans-serif;
	color: #fff;
	display: inline-block;
	-webkit-transform: skew(-20deg);
    transform: skew(-20deg);
}
#page-content {
	max-width: 900px;
    width: 100%;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -450px;
	padding-bottom: 45px;
}
#page-content p { color: #fff; }
#page-content p:last-child {
	text-align: center;
	margin-top: 30px;
	animation-name: floating;
	-webkit-animation-name: floating;
	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#basic-content { 
	padding: 25px; 
	background: #fff; 
	border-radius: 10px; 
	box-shadow: 0px 0px 5px #dbdcde;
}
#basic-content-bg { background: #e9ecee; padding: 25px 0; }
/*-------------------------------------------ABOUT--*/
#about-row-one { 
	background: #e9ecee;
	padding: 50px 0; 
}
#about-row-one #history-community-experience {
	display: -webkit-box;
}
#about-row-one #history-community-experience .widget { 
	width: 30.33%;
    margin: 30px 4.5% 0 0;
    float: left;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    display: table-cell;
    box-shadow: 0px 0px 20px #dbdcde;
}
#about-row-one #history-community-experience .widget#really-simple-image-widget-16 { margin-right: 0; }
#about-row-one #history-community-experience .widget h3 {
	color: #027be5;
    font-weight: normal;
    font-size: 30px;
    margin: 60px 30px 30px;
}
#about-row-one #history-community-experience .widget p { margin: 0 0 5px 0; }
#about-row-one #history-community-experience .widget .rsiw-image {
	background: #027be5;
    width: 100px;
    height: 100px;
    padding: 28px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
}
#about-row-one #history-community-experience .widget .rsiw-image img { width: 100%; }
#about-row-two { 
	background: -webkit-linear-gradient(right,#027be5,#035095); 
	background: -o-linear-gradient(left,#027be5,#035095); 
	background: -moz-linear-gradient(left,#027be5,#035095); 
	background: linear-gradient(to left, #027be5, #035095);
	padding: 50px 0;
}
#about-row-two h1 {
    font-weight: normal;
    text-align: center;
    margin: 0 auto 30px auto;
}
#about-row-two .widget { 
	margin: 0;
	padding: 0; 
}
#about-row-two .widget#tr_ps_widget-3, #about-row-two .widget#tr_ps_widget-4 { 
	background: #fff; 
	padding: 15px 20px 5px 20px;
	margin: 0; 
	border-radius: 5px;
	width: 45%;
	height: 220px;
    margin: 0 2.5%;
    opacity: 0;
    float: left;
    text-align: center;
}
#about-row-two .widget#tr_ps_widget-4 .tr-ps-single:first-child { display: none !important; }
#about-row-two .widget#tr_ps_widget-4 .tr-ps-single:last-child { 
	left: 0px !important; 
	display: block !important; 
	background: transparent !important; 
}
#about-row-two .widget h2 { display: none; }
#about-row-two .widget .tr-post-slider .tr-post-shuffle-class {
	overflow: visible !important;
}
#about-row-two .widget .tr-post-slider .tr-post-shuffle-class .tr-ps-single {  
	width: 100% !important;
}
#about-row-two .widget .tr-post-slider .tr-post-shuffle-class .tr-ps-single .tr-ps-a-title {
	font-size: 45px;
	line-height: 40px;
	margin-bottom: 0;
}
#about-row-two .widget .tr-post-slider .tr-post-shuffle-class {
	height: 180px;
}
#about-row-two .widget .tr-post-slider .tr-post-content h2 {
	display: block;
	color: #027be5;
	font-weight: normal;
	font-weight: bold;
	font-size: 18px;
}
#about-row-two .widget .tr-post-slider .tr-post-content {
	font-size: 12px;
	line-height: 1.3;
	margin-top: 10px;
}
#about-row-two .widget .tr-post-slider .tr-read-more {
	border: 1px solid #027be5;
	text-transform: uppercase;
    padding: 5px 20px;
    font-size: 10px;
    border-radius: 15px;
}
#about-row-two .widget .tr-post-slider .tr-read-more:hover {
	text-decoration: none;
	background: #027be5;
	color: #fff;
}
#about-row-two .widget .tr-post-slider .tr-post-content { display: none; }
#about-row-four { 
	background: #e9ecee; 
	padding: 50px 0 50px 0;
}
#about-row-four h1 { text-align: center; margin-bottom: 10px; }
#about-row-four .widget { padding: 0; margin: 0; }
#about-row-four .widget h2 { display: none; }
#about-row-four .widget .testimonial_rotator { max-width: 600px; margin: 0 auto; }
.testimonial_rotator.template-longform .testimonial_rotator_img{ display: none; }
#about-row-four p#quote-icon { text-align: center; margin: 30px 0; }
#about-row-four .widget .longform_hr { display: none !important; }
#about-row-four .widget .testimonial_rotator_author_info p {
	color: #3a9ef5;
	font-size: 18px;
	font-family: 'Karla', sans-serif;
	margin: 0;
}

#about-row-three {
	min-height: 350px;
	padding: 50px 0 50px 0;
	overflow: hidden;
	background-position: center right;
}
#about-row-three h1 {
	text-align: center; 
	margin-bottom: 45px; 
}
#jd-carousel.flipster {
	overflow-x: visible;
}
#jd-carousel .flipster__nav {
    display: block;
    margin: 0 auto 4em;
    text-align: center;
    position: relative;
    position: absolute;
    bottom: -90px;
    left: 0;
    right: 0;
    z-index: 9;
}
#jd-carousel a.flipster__nav__link {
	color: transparent;
    border: 1px solid #B2B2B3;
	background: #B2B2B3;
    border-radius: 50px;
    width: 20px;
    height: 20px;
    padding: 0;
}
#jd-carousel a.flipster__nav__link:after {
	display: none;
}
#jd-carousel .flipster__nav__item--current a.flipster__nav__link {
	background: #027be5;
	border: 1px solid #027be5;
	color: transparent;
}
#jd-carousel .flipster__item__content {
	background: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    width: 290px;
    text-align: center;
	border: 1px solid #CCC;
	min-height: 190px;
}
#jd-carousel .flipster__item__content > img {
	margin-bottom: 18px;
}
#jd-carousel .flipster__button--prev, #jd-carousel .flipster__button--next {
	left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 63px;
    height: 55px;
    background: #027BE5;
    color: #FFF;
	margin: auto;
}
#jd-carousel .flipster__button--prev {
	left: -373px;
}
#jd-carousel .flipster__button--next {
	right: -373px;
}

@media (max-width: 480px) {
	#jd-carousel .flipster__button--prev, #jd-carousel .flipster__button--next { display: none; }
}
@media (min-width: 481px) {
	#jd-carousel .flipster__nav { display: none; }
}
/*----------------------------------------ATTORNEY--*/
.tlp-team .layout1 .single-team-area .tlp-position {
	font-size: 20px;
    font-style: italic;
    font-family: 'Karla', sans-serif;
}
h3 span.team-name a { text-transform: uppercase; }
.tlp-team .layout1 .single-team-area .contact-info ul li i.fa-envelope-o, .tlp-team .layout1 .single-team-area .tlp-email { color: #fff !important; }
.tlp-team .layout1 .single-team-area .tlp-email { text-transform: capitalize; }
.tlp-team .layout1 .single-team-area  .contact-info ul li:last-child { background: #027be5; }
.tlp-team .layout1 .single-team-area:hover figure img { -webkit-filter: blur(2px); filter: blur(2px); }
.tlp-team .layout1 .single-team-area:hover figcaption .overlay:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 1px solid #fff;
}
.detail-popup { position: absolute; left: 0; right: 0; top: 0; bottom: 0; }
.tlp-team .layout1  .single-team-area .detail-popup p { 
	color: #fff; 
	font-family: 'Karla', sans-serif;
	font-size: 20px;
	display: inline-block;
    padding-left: 5px;
}
.tlp-team .layout1 .overlay-element .detail-link i.fa { margin-top: 90%; }
#attorney.page-background {
    height: auto;
}
#attorney #page-content {
    max-width: 900px;
    position: static;
    margin: 0 auto;
    padding: 100px 0 20px 0;
    text-align: center;
}
#attorney #page-content h2 {
	color: #027be5;
	font-weight: normal;
}
#attorney #page-content p {
	color: #000;
	margin-top: 10px;
}
.search-live {
    max-width: 600px;
    margin: 0 auto;
}
.search-live-form form input {
	border: 1px solid #027be5;
    background: #fff;
    color: #027be5;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
}
.search-live-form form input::-webkit-input-placeholder, .search-live-form form input::-webkit-input-placeholder { 
	color: #027be5;
}
table.search-results tr { display: none; }
table.search-results tr.team { display: block; }
#attorney #page-content .widget { padding-top: 5px; }
#attorney #page-content .widget h2 { display: none; }
#attorney #page-content .widget form {
	max-width: 600px;
    margin: 0 auto;
}
#attorney #page-content .widget  form .input-group { position: relative; }
#attorney #page-content .widget form .input-group .input-group-btn {  
	position: absolute;
    right: 0;
    top: 0;
}
#attorney #page-content .widget form input {  
 	border: 1px solid #027be5;
    background: #fff;
    color: #027be5;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
}
#attorney #page-content .widget form input[type="submit"] {
	background: #027be5;
	color: #fff;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}
.tlp-team .layout1 .overlay-element .detail-link:hover i.fa {
	color: #027be5;
}
.tlp-team .team-name a { 
	font-size: 20px; font-weight: bold; 
    min-height: 40px;
    display: block;
    line-height: 18px;
}
.tlp-team .contact-info {
    background: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 10px 10px 10px;
    text-align: center;
}
.tlp-team .contact-info ul li {
	border: 1px solid #027be5;
    border-radius: 5px;
    padding: 10px 0;
    margin-bottom: 5px;
}
.tlp-team .contact-info ul li:hover {
	background: #027be5;
}
.tlp-team .contact-info ul li i {
	color: #027be5 !important;
}
.tlp-team .contact-info ul li:hover i, .tlp-team .contact-info ul li:hover span {
	color: #fff !important;
}
.tlp-team .contact-info ul li a:hover {
	text-decoration: none;
}
.tlp-team .contact-info .tlp-phone {
	font-family: 'Karla', sans-serif;
}

/*---------------------------------ATTORNEY SINGLE--*/
#single-attorney.page-background { 
	height: auto; 
	background-image: url("/wp-content/themes/millerlaw/img/attorney-single-background.png");
}
.intro-contact-info {
	text-align: center;
    margin-top: -50px;
    padding-bottom: 60px;
}
.intro-email, .intro-phone {  
	display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 50px;
    border: 1px solid #fff;
    color: #fff;
    font-family: 'Karla', sans-serif;
}
.intro-email i, .intro-phone i {
	margin-right: 10px;
}
.intro-email:hover, .intro-phone:hover {
	background: #fff;
	color: #027be5;
}
#single-attorney-content {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #dbdcde;
	top: -50px;
	padding: 30px;
}
#single-attorney-info {
    width: 250px;
    padding: 0 50px 0 0;
    float: left;
}
#single-attorney-info img { width: 200px; }
#single-attorney-info .social-icons { 
	text-align: right;
	width: 190px;
	margin: -30px auto 0 auto; 
}
#single-attorney-info .social-icons a { color: #fff; font-size: 25px; }
#single-attorney-info .social-icons a:hover { 
	box-shadow: none; 
	text-decoration: none; 
	color: #027be5; 
}
#single-attorney-info .social-icons i:before { display: none; }
#single-attorney-info #single-attorney-image { text-align: center; }
#single-attorney-info #single-attorney-name h3, #single-attorney-name .tlp-position { 
	color: #027be5;
	text-align: center;
}
#single-attorney-info .contact-info {
	margin-top: 10px;
	padding: 0 0 10px 0;
}
#single-attorney-info .contact-info span { color: #027be5; }
#single-attorney-info .short-bio h2 { color: #027be5; }
#single-attorney-bio {
	width: -webkit-calc(100% - 250px);
	width: calc(100% - 250px);
	float: left;
}
#single-attorney-bio h2, #single-attorney-bio h3, #single-attorney-bio h4 {
	color: #027be5;
	margin: 15px 0 10px 0;
}
#single-attorney-bio p { margin-bottom: 10px; }
/*----------------------------------PRACTICE AREAS--*/
#practice #page-content a.transparent-button { 
	margin-top: 10px;
	display: inline-block;
}
#practice-row-one { 
	background: #e9ecee;
	padding: 1px 0;
}
#practice-row-one .widget {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #dbdcde;
	padding: 15px;
    margin: 30px auto;
    position: relative;
}
#practice-row-one .widget:hover {
	box-shadow: 0px 0px 5px #dbdcde;
}
#practice-row-one .widget h3 {
	color: #005eb1;
	margin: 0 0 5px 90px;
}
#practice-row-one .widget .rsiw-image {
	position: absolute;
	top: 15px;
	left: 15px;
    background: #005eb1;
    padding: 15px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}
#practice-row-one .widget .rsiw-image img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
#practice-row-one .widget .rsiw-image-caption {
	margin: 0 0 0 90px;
}
#practice-row-one .widget .rsiw-image-caption a {
	display: block;
    color: #000;
    font-weight: normal;
}
#practice-row-one .widget .rsiw-image-caption a:hover { text-decoration: none; }
#practice-row-one .widget .rsiw-image-caption a:last-child { font-weight: bold; }
#practice-row-one .widget .rsiw-image-caption a:last-child:hover { text-decoration: underline; }
#practice-row-three {
	text-align: center;
	padding: 30px 0;
}
#practice-row-three h1 { 
	margin-bottom: 10px;
}
#practice-row-three p {
	margin-bottom: 10px;
}
#practice-row-three .widget {
	padding: 0;
	margin: 0;
}
#practice-row-three .widget h2 { display: none; }
#practice-row-three .widget form {
	max-width: 600px;
    margin: 0 auto;
}
#practice-row-three .widget form .input-group { position: relative; }
#practice-row-three .widget form .input-group .input-group-btn {  
	position: absolute;
    right: 0;
    top: 0;
}
#practice-row-three .widget form input {  
 	border: 1px solid #027be5;
    background: #fff;
    color: #027be5;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
}
#practice-row-three .widget form input[type="submit"] {
	background: #027be5;
	color: #fff;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}
/*-----------------------PRACTICE AREA CHILD PAGES--*/
#practice-child #page-content p { 
	text-align: center; 
	animation-name: floating;
    -webkit-animation-name: floating;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
#practice-child #page-content .widget h2 { 
	font-size: 25px;
    text-transform: uppercase;
    margin: 0 0 5px 100px;
}
#practice-child #page-content .widget .rsiw-image-caption {
	font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 1.38;
    color: #fff;
    margin-left: 100px;
}
#practice-child #page-content .widget .rsiw-image-caption a { color: #fff; pointer-events: none; }
#practice-child #page-content .widget .rsiw-image-caption a:hover { text-decoration: none; }
#practice-child #page-content .widget .rsiw-image-caption a:last-child { display: none; }
#practice-child #page-content .widget .rsiw-image {
	max-width: 100%;
    position: absolute;
    margin: -20px 0 0 0;
    background: #027be5;
    padding: 15px;
    border-radius: 50%;
}
#practice-child-row-one {
	background: #e9ecee;
    position: relative;
}
#practice-child-sidebar {
	width: 300px;
	height: 100%;
	padding-top: 30px;
	background: #fff;
	float: left;
	position: relative;
    z-index: 100;
}
#practice-child-sidebar .container-fluid { 
	width: 100%;
    padding: 0;
}
#practice-child-sidebar .container-fluid .tlp-team .tlp-equal-height {
	width: 95%;
    margin-left: 2.5%;
}
#practice-child-sidebar .single-team-area {
	text-align: center;
    border: 1px solid #027be5;
    margin-top: 75px;
    border-radius: 5px;
}
#practice-child-sidebar .single-team-area figure img {
	width: 100px;
    margin: -75px auto 0 auto;
}
#practice-child-sidebar .single-team-area h3 { margin: 0 !important; }
#practice-child-sidebar .single-team-area .tlp-position { margin-bottom: 10px; }
#practice-child-sidebar .widget {
	width: 95%;
    margin: 0 auto 30px auto;
    padding: 0;
    border: 1px solid #027be5;
    border-radius: 5px;
    position: relative;
}
#practice-child-sidebar .really_simple_image_widget:hover {
	background: #027be5;
}
#practice-child-sidebar .widget h3 {
	color: #027be5;
    padding: 15px;
    margin: 0 0 0 60px;
    line-height: 50px;
} 
#practice-child-sidebar .really_simple_image_widget:hover a {
	color: #fff;
}
#practice-child-sidebar .widget .rsiw-image {
	max-width: 100%;
    position: absolute;
    top: 10px;
    left: 5px;
    background: #027be5;
    padding: 15px;
    border-radius: 50%;
}
#practice-child-content {
	width: -webkit-calc(100% - 300px);
	width: calc(100% - 300px);
	padding: 30px;
	float: right;
}
#practice-child-content h3.accordion-title {
	padding: 5px 30px;
	margin-bottom: 20px;
    border: 1px solid #027be5;
    border-radius: 5px;
    color: #027be5;
    text-transform: uppercase;
    font-weight: normal;
    background: url("/wp-content/themes/millerlaw/img/accordian-plus.svg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 98% center;
    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}
#practice-child-content h3.accordion-title.open {
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 0;
    background-image: url("/wp-content/themes/millerlaw/img/accordian-neg.svg");
    -webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}
#practice-child-content .accordion-content {
	padding: 0 30px;
    border: 1px solid #027be5;
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #027be5;
    font-weight: normal;
    background: #fff;
    overflow: hidden;
}
#practice-child-content .accordion-content p:first-child { padding-top: 30px; }
#practice-child-content .accordion-content p:last-child { padding-bottom: 30px; }
#practice-child-content .accordion-content[aria-hidden="true"] {
	display: block !important;
	height: 0 !important;
	border: 0;
	margin: 0;
	-webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}
#practice-child-content .accordion-content[aria-hidden="false"] {
	display: block !important;
	height: auto !important;
	margin-bottom: 20px !important;
	-webkit-transition: all 0s ease-in-out 0s;
    transition: all 0s ease-in-out 0s;
}
/*------------------------------------PUBLICATIONS--*/
#publications #page-content h3 { margin-bottom: 10px; }
#publications #page-content p { margin-bottom: 3px; }
#publications-row-one {
	background: #e9ecee;
	padding: 20px 0 30px 0;
}
#publications-row-one .max-width { max-width: 800px; }
#publications-row-one .widget {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #dbdcde;
	text-align: center;
	width: 45%;
	height: 285px;
	margin: 50px 2.5% 20px 2.5%;
	padding: 20px;
	float: left;
	position: relative;
	font-family: 'Karla', sans-serif;
    font-size: 14px;
    display: table-cell;
}
#publications-row-one .widget:hover {
	    box-shadow: 0px 0px 10px #dbdcde;
}
#publications-row-one .widget h3, #publications-row-one .widget h3 a {
	color: #027be5;
	font-size: 25px;
	font-weight: normal;
	margin: 50px auto 20px;
}
#publications-row-one .widget .rsiw-image {
	position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    background: #005eb1;
    padding: 25px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
#publications-row-one .widget .rsiw-image img {
	width: auto;
	max-width: 100%;
	height: auto;
	max-height: 100%;
}
#publications-row-one .widget .rsiw-image-caption a:first-child, #publications-row-one .widget .rsiw-image-caption a:first-child:hover {
	color: #000;
	font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 1.38;
    text-decoration: none;
}
#publications-row-one .widget .rsiw-image-caption a:last-child {
	padding: 10px 20px;
    border-radius: 40px;
    background: transparent;
    color: #027be5;
    border: 1px solid #027be5;
    margin-top: 20px;
    display: block;
    position: absolute;
    bottom: 20px;
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px);
}
#publications-row-one .widget .rsiw-image-caption a:last-child:hover {
	color: #fff;
	background: #027be5;
	text-decoration: none;
}
/*-----------------------------------------CONTACT--*/
#contact.page-background { height: auto; }
#contact-row-one { height: 450px; }
#contact-row-one .gform_wrapper { margin: 0; max-width: 100%; }
#contact-row-one form {
    position: absolute;
    left: 50%;
    max-width: 800px;
    width: 800px;
    margin: -50px 0 0 -400px;
    z-index: 100;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #dbdcde;
    padding: 30px;
}
#contact-row-one .gform_heading h3 { 
	text-align: center;
    width: 100%;
    color: #005eb1;
    margin: 0;
}
#contact-row-one .gform_body {
	max-width: 800px;
    margin: 0 auto;
}
#contact-row-one .gform_body label {
	display: none;
}
#contact-row-one .gform_body input, #contact-row-one .gform_body textarea {
	background: #ebebeb;
    border: 1px solid #ebebeb;
    padding: 5px 10px;
    color: #005eb1;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 1.3;
}
#contact-row-one .gform_body textarea { height: 100px; }
#contact-row-one .gform_body input:focus, #contact-row-one .gform_body textarea:focus {
	border: 1px solid #005eb1;
}
#contact-row-one .gform_body input::-webkit-input-placeholder, #contact-row-one .gform_body textarea::-webkit-input-placeholder {
	color: #005eb1 !important;
	font-weight: normal !important;
}
#contact-row-one .gform_body input:-moz-placeholder, #contact-row-one .gform_body textarea:-moz-placeholder { /* Firefox 18- */
	color: #005eb1 !important;
	font-weight: normal !important; 
}
#contact-row-one .gform_body input::-moz-placeholder, #contact-row-one .gform_body textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #005eb1 !important;
	font-weight: normal !important
}
#contact-row-one .gform_body input:-ms-input-placeholder, #contact-row-one .gform_body textarea:-ms-input-placeholder {  
	color: #005eb1 !important;
	font-weight: normal !important
}
#contact-row-one .gform_footer { text-align: center; }
#contact-row-one .gform_footer input[type="submit"] {
	padding: 8px 30px;
	background: #fff;
	border: 1px solid #005eb1;
	border-radius: 50px;
	color: #005eb1;
	font-family: 'Karla', sans-serif;
}
#contact-row-one .gform_footer input[type="submit"]:hover {
	background: #005eb1;
	color: #fff;
}
#contact-row-two { height: 300px; position: relative; }
#contact-row-two .max-width {
    width: 800px;
    max-width: 800px;
    position: absolute;
    left: 50%;
    margin: -80px 0  0 -400px;
    z-index: 100;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 5px #dbdcde;
}
#contact-row-two .widget {
    width: 50%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 30px;
}
#contact-row-two .widget:first-child { 
    border-right: 2px solid #ebebeb;
}
#contact-row-two .widget:last-child { padding: 5px 0 5px 15px; }
#contact-row-two .widget a { 
	box-shadow: 0 0 0 0 currentColor;
}
#contact-row-two .widget a:hover {
	box-shadow: 0 1px 0 0 currentColor;
	text-decoration: none;
}
#contact-row-two .widget p { margin-bottom: 5px; }
#contact-row-two .widget img {
	height: 20px;
    margin: -3px 10px 0 0;
}
#contact-row-two .widget span { color: #005eb1; }
#contact-row-two .widget a:first-child { margin-right: 15px; }
#contact-row-two .widget h3 { color: #005eb1; }
#contact-row-two #blue-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0px;
	pointer-events: auto;
}
#contact-row-two #blue-overlay img {
	width: 100%;
	height: 300px;
}
#contact-row-two #map-container { width: 100%; height: 100%; overflow: hidden; }
#contact-row-two iframe { 
	width: 100% !important;
	height: -webkit-calc(100% + 300px) !important; 
	height: calc(100% + 300px) !important; 
	margin-top: -150px;
	pointer-events: none;
}
#contact-row-three { position: relative; }
.wpsisac-slick-carousal.design-6 { padding-bottom: 0; }
.wpsisac-slick-carousal.design-6 .slick-image-slide img { width:100%; height: auto; }
.wpsisac-slick-carousal.design-6 .slick-dots { display: none; }

/*--------------------------------------BLOG FEEDS--*/
.hiddens { opacity: 0 !important; }
.visible{ opacity: 1 !important; }
#single-post, #search-results, #archives { height: auto; }
#journal-articles, #court-opinon, #verdicts-settlement, #news-articles { background-position: center top; }
#spacer { height: 150px; }
#search-results, #archives {
	background-image: url("/wp-content/themes/millerlaw/img/publications-background.png");
}
#search-feed { padding: 50px 0; }
#search-feed nav, #feed-display.archives nav {
	border: 0;
    color: #027be5;
    margin: 0;
    width: 100%;
    text-align: right;
}
#search-feed nav .nav-links a, #feed-display.archives nav .nav-links a {
	color: #027be5;
    -webkit-transform: skewX(0deg);
    transform: skewX(0deg);
}
#search-feed nav .nav-links a.prev:hover, #search-feed nav .nav-links a.next:hover,
#feed-display.archives nav .nav-links a.prev:hover, #feed-display.archives nav .nav-links a.next:hover { color: #fff; }
#search-feed article, #feed-display.archives .post {
	background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    padding: 30px;
    margin-bottom: 30px;
}
#search-feed article header { margin: 0; }
#search-feed article h2, #feed-display.archives h2 { margin-bottom: 10px; }
#search-feed article .widgettitle { display: none; }
#search-feed article .widget { margin: 0; }
#search-feed article .widget form { position: relative; }
#search-feed article .widget form input {  
 	border: 1px solid #027be5;
    background: #fff;
    color: #027be5;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
}
#search-feed article .widget form input[type="submit"] {
	background: #027be5;
	color: #fff;
    border-radius: 50px;
    padding: 3px 15px;
    line-height: 1.5;
    font-weight: normal;
    font-family: 'Karla', sans-serif;
}
#search-feed article .widget form .input-group .input-group-btn {  
	position: absolute;
    right: 0;
    top: 0;
}
#feed-display.archives .entry-header { width: 100%; margin: 0; }
#search-feed article h2 a, #search-feed article h2, #feed-display.archives article h2, #feed-display.archives article h2 a {
	font-size: 25px;
    color: #027be5;
}
#search-feed article .post, #feed-display.archives .post { max-height: 100%; }
#search-feed article .post-thumbnail, #feed-display.archives .post-thumbnail {
	margin: 0 10px 0 0;
    height: 100px;
    float: left;
}
#search-feed article .post-thumbnail img, #feed-display.archives .post-thumbnail img { max-height: 100px; width: auto; }
#search-feed article .entry-summary, #feed-display.archives .entry-summary {
    margin: 0;
    width: 100%;
}
#search-feed article .entry-footer, #feed-display.archives .entry-footer { display: none; }
#single-display .entry-header, #single-display .entry-footer, #single-display #comments, #single-display .entry-summary { display: none; }
#single-display .entry-content {
	margin: 0 0 30px 0;
	width: 100%;
}
#single-display .entry-content h2, #single-display .entry-content h3, #single-display .entry-content h4 {
	font-family: 'Karla', sans-serif;
	line-height: 1.38;
	color: #027be5;
	font-size: 25px; 
}
#single-display .entry-content h3 { font-size: 20px; }
#single-display .entry-content h4 { font-size: 18px; }
#single-display .entry-content p { margin-bottom: 15px; }
#single-display #next-post { text-align: right; border-left: 1px solid #000; }
#single-display #previous-post { border-right: 1px solid #000; }
#single-display #next-post a, #single-display #previous-post a { line-height: 0px; }
#feed-row-one { 
	background: #e9ecee;
	position: relative;
	padding-bottom: 100px;
}
#feed-row-one .max-width {
	z-index: 100;
    position: relative;
}
#feed-white-background {
	width: -webkit-calc(50% - 170px);
	width: calc(50% - 170px);
	height: 100%;
    background: #fff;
    position: absolute;
}
#feed-sidebar {
	width: 300px;
	height: 100%;
	padding-top: 30px;
	background: #fff;
	float: left;
}
#feed-sidebar .widget {
	width: 95%;
    margin: 0 auto 30px auto;
    padding: 0;
    border: 1px solid #027be5;
    border-radius: 5px;
}
#feed-sidebar .widget h3 {
	color: #027be5;
    padding: 15px;
    margin: 1px;
    border-bottom: 1px solid #027be5;
    background: #e9ecee;
}
#feed-sidebar .widget ul { margin-bottom: 0; }
#feed-sidebar .widget li, #feed-sidebar .widget .cat-item  {
	padding: 10px 15px;
    border-bottom: 1px solid #e9ecee;
    list-style: none;
}
#feed-sidebar .widget li:last-child, #feed-sidebar .widget .cat-item:last-child {
	border-bottom: 0px;
}
#feed-display, #single-display {
	width: -webkit-calc(100% - 300px);
	width: calc(100% - 300px);
	padding: 30px;
	float: right;
}
#feed-display .post {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 20px #dbdcde;
	margin: 0 0 30px 0;
    padding: 0;
    max-height: 150px;
    overflow: hidden;
}
#feed-display .post:hover {
	box-shadow: 0px 0px 5px #dbdcde;
}
#feed-display .post #post-image {
	width: 150px;
	height: 150px;
	float: left;
	margin: 0 15px 0 0;
}
#feed-display .post #post-image #feed-hover {
	background: url("/wp-content/themes/millerlaw/img/feed-hover.png");
    background-position: 0 150px;
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 100;
    margin-top: -150px;
    opacity: 0;
}
#feed-display .post #post-image:hover #feed-hover {
	opacity: 1;
}
#feed-display .post #post-content {
	width: -webkit-calc(100% - 165px);
	width: calc(100% - 165px);
	padding: 15px 15px 15px 0px;
	float: left;
}
#feed-display .post #post-content small {
	color: #027be5;
    font-family: 'Karla', sans-serif;
    font-size: 14px;
}
#feed-display .post #post-content h3 a {
	font-size: 16px;
	text-transform: uppercase;
}
#feed-display .post #post-content h3 a:hover {
	box-shadow: 0 1px 0 0 currentColor;
	text-decoration: none;
}
#feed-display .post #post-content .entry {
	font-size: 14px;
	font-family: 'Karla', sans-serif;
	line-height: 1.3;
	margin-top: 10px;

}
#feed-row-two { 
	padding: 25px 0; 
	background-image: url("/wp-content/themes/millerlaw/img/attorney-single-background.png");
	background-size: cover;
	background-position: center bottom;
}
#feed-row-two .post { 
	width: 31.33%; 
	margin-right: 3%; 
	margin-top: -75px;
	position: relative;
    z-index: 1;
	float: left;
	box-shadow: 0px 0px 5px #dbdcde;
	border-radius: 10px;
	overflow: hidden; 
}
#feed-row-two .post:last-child { margin-right: 0; }
#feed-row-two .post #post-content { background: #fff; padding: 25px; }
#feed-row-two .post #post-content small { display: none; }
#feed-row-two .post #post-content h3 { margin-bottom: 15px; }
#feed-row-two .post #post-content h3 a { color: #000; font-size: 20px; }
#feed-row-two .post #post-content .read-article { font-size: 16px; margin-top: 15px; display: block; }

.journal-articles #feed-display .post, .news-press #feed-display .post { padding: 10px 25px; max-height: none; }
.journal-articles #feed-display .post #post-content, .news-press #feed-display .post #post-content { width: 100%; padding: 0; }
/*----------------------------------------------------------------------404 ERROR--*/
#dwls_search_results { 
    box-shadow: none;
    margin-top: 8px; 
}
#dwls_search_results .search_footer { display: none; }
ul.search_results li {
    background: transparent !important;
    position: relative;
}
ul.search_results li a, ul.search_results li a:visited {
    bottom: 0;
    color: #027be5 !important;
    float: none;
    left: 0;
    padding: 5px 20px 5px 70px;
    position: absolute;
    right: 0;
    top: 0;
    width: 250px !important;
}
.page-template-home-page input[type="text"] {
    width: calc(100% - 23px);
    width: -webkit-calc(100% - 23px);
    float: left;
    padding: 4px 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 0.8125rem;
    line-height: 1.6153846154;
}
.page-template-home-page input[type="submit"] {
    padding: 5px;
    background: #0d6cc0;
    background-image: url("/wp-content/themes/millerlaw/img/search.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    border-radius: 0;
    height: 23px;
    width: 23px;
    text-indent: 99999px;
    position: relative;
    top: -1px;
    overflow: hidden;
}
.page-template-home-page input[type="search"].search-field {
    font-size: 11px;
    line-height: 30px;
    padding: 1px 4px;
    letter-spacing: .5px
}
.search-results form label, .search-no-results form label { width: 100%; }
form#searchform input::-webkit-input-placeholder {
    color: #000;
}
form#searchform input:-moz-placeholder { 
    color: #000;
}
form#searchform input::-moz-placeholder { 
    color: #000;
}
form#searchform input:-ms-input-placeholder { 
    color: #000;
}
.page-id-10 input[type="submit"], .page-id-11 input[type="submit"]  { display: none; }
.page-id-10 input[type="text"], .page-id-11 input[type="text"] {
    border-radius: 50px;
    padding: 4px 8px;
    font-size: 10px;
    max-width: 625px;
    margin: 15px 0 0 0;
    border-color: #027be5;
}
.error-sitemap-menu ul { 
    -webkit-column-count: 3; 
    -moz-column-count: 3; 
    column-count: 3;
    margin-top:50px;
}
.error-sitemap-menu ul li { list-style: none; }
.error-search-form input { color: #027be5; border-color: #027be5; }
.error-search-form .search-submit { height: 39px; }
.error-search-form .search-submit:before { line-height: 39px; }
.error-search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #027be5;
}
.error-search-form input::-moz-placeholder { /* Firefox 19+ */
    color: #027be5;
}
.error-search-form input:-ms-input-placeholder { /* IE 10+ */
    color: #027be5;
}
.error-search-form input:-moz-placeholder { /* Firefox 18- */
    color: #027be5;
}
.error-message {
    text-align: center;
    margin: 0 0 25px 0;
    color: #027be5;  
}
/*-------------------------------------------------------------------------WIDGET SLICK SLIDER--*/
.case-slider {
	background: #fefefe;
	border-radius: 20px;
	padding: 2rem 0;
  margin: 2rem 0;
}
.slick-track {
	display: flex;
	align-items: center;
}
.slick-slide {
  padding: 0 1rem;
}
.slick-slide a {
	font-size: 50px;
	color: #027be5;
	font-weight: bold;
	text-transform: uppercase;
}
/*-------------------------------------------------------------------------FOOTER--*/
footer { background: #091e31; }
footer h3 { 
	color: #fff;
	font-size: 18px;
}
footer p { 
	color: #fff; 
	font-size: 14px;
	margin-bottom: 0; 
}
footer .footer-row { 
	padding: 20px 20px; 
	border-bottom: 1px solid #fff;
}
footer .footer-row:last-child { 
	border-bottom: 0; 
	padding-bottom: 35px;
}
footer #footer-logo { 
	width: 50px; 
	float: left; 
}
footer #footer-quote { 
	color: #fff;
	font-style: italic;
	font-size: 20px;
	float: right;
	padding: 10px 0;
}

footer .widget { 
	border: 0; 
	padding: 0;
	margin: 0;
}
footer .widget span {  
	color: #027be5;
	padding: 0 20px 0 0;
}
footer .textwidget a { 
	color: #fff;
	box-shadow: 0 0 0 0 currentColor; 
}
footer .textwidget  a:hover {
	text-decoration: none; 
	box-shadow: 0 1px 0 0 currentColor; 
}
footer .widget ul {
	margin: 0;
	width: 200px;
	-webkit-column-count: 2;
    column-count: 2;
}
footer .widget li {
	padding: 7px 0 3px 0;
}
footer .widget li a { font-size: 14px; color: #fff; }
footer .widget li a:hover {
	text-decoration: none; 
	box-shadow: 0 1px 0 0 currentColor; 
}
#footer-links { padding-left: 5%; }
#footer-links ul { width: auto; margin-top: -7px; }
#footer-links li { list-style: none; }
#footer-connect { padding-left: 10%; }
#footer-connect .really_simple_image_widget h3 { display: none; }
#footer-connect .really_simple_image_widget {
	padding: 0 40px 0 0;
	float: left; 
}

#copyright {
	border-top: 1px solid #fff;
	padding: 20px 20px;
}
#copyright p, #copyright a { font-size: 10px; color: #fff; }
#copyright span { padding: 0 20px; }

/*------------------------------------------------------------------------LAPTOPS--*/
@media only screen and (max-width: 1200px) { 
	#page-breadcrumbs #breadcrumbs { margin-left: 50px; }
}
/*--------------------------------------------------------------LANDSCAPE TABLETS--*/
@media only screen and (max-width: 1024px) {
	#video-intro video { display: none; }
}
@media only screen and (max-width: 1023px) { 
	.max-width { padding: 0 10px; }
	#home-row-one .one-half, #home-row-three .one-half { padding: 30px 10px 30px 10px; }
	#home-row-two .one-half { padding: 30px 10px 30px 10px; }
	#home-row-two { background-size: contain; }
	#home-row-one, #home-row-three { background-size: cover; }
}
@media only screen and (max-width: 990px) { 
	#attorneys.max-width { max-width: 500px; }
	#feed-white-background { width: 320px; }
	#single-attorney-content { margin:0 10px; }

}
/*---------------------------------------------------------------PORTRAIT TABLETS--*/
@media only screen and (max-width: 959px) { 
	#main-nav, #sticky-nav { display: none; }
	#feed-display .post { max-height: 100%; }
	#feed-display .post #post-image { 
		width: 150px;
    	height: 150px;
    	text-align: center;
    	float: none;
    	margin: 5px auto 0 auto;
    	position: relative;
	}
	#feed-display .post #post-content {
		width: 90%;
	    margin: 0 auto;
	    text-align: center;
	    padding: 15px;
	    float: none;
	}
	#feed-display .post #post-image #feed-hover { left: 50%; margin-left: -75px; }
	#home-row-one #attorney-search, #home-row-two #recent-settlements, #home-row-three #recent-blog { margin: 0; }
	#page-content {
	    max-width: 900px;
	    position: initial;
	    margin: 75px auto 0 auto;
	    padding-bottom: 15px;
	}
}
/*---------------------------------------------------------------LANDSCAPE PHONES--*/
@media only screen and (max-width: 799px) {
    #dwls_search_results { display: none !important; } 
	#home-row-one .one-half, #home-row-two #one-half, #home-row-three #one-half { width: 60%; }
	#intro-header { padding-top: 100px; }
	#intro-info { padding-bottom: 15px; }
	#home-row-one .one-half, #home-row-two .one-half, #home-row-three .one-half { width: 100%; }
	#home-row-one #attorney-search, #home-row-two #recent-settlements, #home-row-three #recent-blog { 
		max-width: 90%; 
		text-align: center; 
		margin: 0 auto; 
		float: none; 
	}
	#home-row-one .one-half:before, #home-row-two .one-half:before, #home-row-three .one-half:before { display: none; }
	#home-row-two #recent-settlements, #home-row-three #recent-blog { max-width: 75%; }
	#home-row-one .widget#text-7, #home-row-one .widget { max-width: 100%; }
	#home-row-one .widget#eps_super_search-2 { margin: 0 auto; }
	#home-row-two #recent-settlements .widget .excerpt a, #home-row-three #recent-blog .widget .excerpt a { margin: 10px auto 0 auto }
	#home-row-five .max-width .widget { width: 20%; margin: 0 2.5%; }
	#blue-header { padding-top: 60px; }
	#blue-header h1 { padding: 30px 0; }
	.intro-contact-info { margin-top: -20px; }
	.intro-contact-info a { display: block; margin-top: 10px; }
	.page-background { min-height: auto; }
	#about-row-one #history-community-experience { display: block; }
	#about-row-one #history-community-experience .widget, #about-row-one #history-community-experience .widget#really-simple-image-widget-16 {  
		width: 90%;
	    margin: 0 auto 15px auto;
	    position: initial;
	    float: none;
	    display: block;
	} 
	#about-row-one #history-community-experience .widget h3 { margin: 0 auto 15px auto; }
	#about-row-one #history-community-experience .widget .rsiw-image {
		max-width: 100%;
    	position: initial;
    	margin: 0 auto 15px auto; 
    }
    #about-row-two .widget#tr_ps_widget-3, #about-row-two .widget#tr_ps_widget-4 {
	    width: 90%;
	    height: auto;
	    margin: 0 auto 15px auto;
	    float: none;
    }
    #about-row-two .widget .tr-post-slider .tr-post-content { margin-top: 10px; }
    #contact-row-one form, #contact-row-two .max-width { max-width: 650px; margin: -50px 0 0 -325px; }
    #contact-row-three { display: none; }
}
@media only screen and (max-width: 767px) { 
	#attorneys.max-width { max-width: 400px; }
    #home-row-four .max-width .widget .carousel-caption, 
    #about-row-two .max-width .widget .carousel-caption {
        padding: 25px 35px;
    }
    #home-row-four .max-width .widget .carousel-caption a, 
    #about-row-two .max-width .widget .carousel-caption a {
        font-size: 40px;
        line-height: 50px;
    }
}
@media only screen and (max-width: 700px) { 
	h1 { font-size: 30px; line-height: 28px; }
	#intro-fade { display: none; }
	#intro-header h1 { width: auto; font-size: 18px; }
	#intro-header h1 span { padding: 0; }
	#intro-info .max-width h1 { font-size: 30px; }
	#intro-info .max-width p { margin-bottom: 30px; }
	#feed-white-background { display: none; }
	#practice-child-content, #feed-display, #single-display { width: 100%; float: none; }
	#practice-child-sidebar, #feed-sidebar {
	    width: 95%;
	    max-width: 500px;
	    margin: 0 auto;
	    float: none;
	    height: 100%;
	}
	#practice-child-sidebar .widget { text-align: center; }
	#publications-row-one .widget { width: 95%; }
	#contact-row-one { height: auto; padding: 0; }
	#contact-row-one form, #contact-row-two .max-width { 
		max-width: 100%;
	    margin: 30px auto 0 auto;
	    position: initial; 
	}
	#contact-row-two { height: auto; padding-bottom: 30px; }
	#contact-row-two .max-width { max-width: 95%; }
	#contact-row-two .widget {
	    width: 95%;
	    margin: 0 auto;
	    float: none;
	    padding: 10px;
	}
	#contact-row-two .widget:first-child { padding: 10px; border-right: none; border-bottom: 2px solid #ebebeb; }
	#contact-row-two #blue-overlay { display: none; }
	#contact-row-two #map-container { display: none; }
	footer .footer-row .one-third {
		width: 95%;
	    margin: 0 auto;
	    text-align: center;
	    float: none;
	}
	footer .widget ul { width: 100%; }
	footer h3 { margin-top: 20px; }
	footer #footer-links { display: none; }
	#footer-connect { padding: 0; }
	#footer-connect .really_simple_image_widget { float: none; display: inline-box; display: -webkit-inline-box; padding: 0 20px; }
	.slick-slide a {
		font-size: 30px;
	}
/*----------------------------------------------------------------PORTRAIT PHONES--*/
@media only screen and (max-width: 500px) { 
	#video-intro video { display: none; }
	#home-row-two #recent-settlements, #home-row-three #recent-blog { max-width: 95%; }
    #home-row-three #recent-blog .widget .excerpt, #home-row-three #recent-blog .widget h4 { text-align: left; }
    #home-row-three #recent-blog .widget .excerpt a { margin: 10px 0 0 0; }
	#home-row-five .max-width .widget { width: 45%; }
	#page-breadcrumbs { min-width: 100%; position: initial; }
	#page-breadcrumbs span.breadcrumb_last { padding: 11px 10px; }
	#page-breadcrumbs:before { display: none; }
	#page-breadcrumbs span span a, #page-breadcrumbs span.breadcrumb_last, #page-breadcrumbs span span span a {  
		-webkit-transform: skew(0deg);
    	transform: skew(0deg);
	}
	#intro-contact-info a:last-child { margin-top: 10px; display: block; }
	#single-attorney-info { width: 100%; padding: 0; }
	#single-attorney-bio { width: 100%; }
	#home-row-four .max-width .widget .tr-post-slider .tr-fs-pagination a, #home-row-four .max-width .widget .tr-post-slider .tr-ps-pagination a {
		width: 10%;
	}
	#page-breadcrumbs { padding: 0 3px; }
	#page-breadcrumbs #breadcrumbs { margin-left: 0; }
	#page-breadcrumbs span span a, #page-breadcrumbs span span span a, #page-breadcrumbs span.breadcrumb_last  { padding: 11px 10px; }
    footer #footer-quote { font-size: 16px; line-height: 25px; }
    #home-row-four .max-width .widget .carousel-caption a, #about-row-two .max-width .widget .carousel-caption a {
        font-size: 35px;
    }
}